@model Shubham_Dalvi.Models.Dto.PersonallInfoViewModels

@{
    ViewData["Title"] = "Home Page";
}
<body>
    @*<div class="">
            <img class="d-block w-100" src="images/Home.jpg" alt="" style="max-width: 100%;">
        </div>*@
    <div class="splash">
       
            <div class="video-container">
                <video class="video d-block w-100" id="video" autoplay="autoplay" loop="loop" muted="muted" preload="auto">
                    <source src="./Images/Video.mp4" type="video/mp4">
                </video>
            </div>
 

        <div class="row col-10 mx-auto my-5">
            <h4>Why Splash Interiors</h4>
            <h6>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis labore quas quidem cumque quia autem
                suscipit dolore illo quos culpa nobis, aliquid repudiandae inventore nisi natus eveniet ullam consequatur
                mollitia rerum modi deleniti. Accusantium, voluptate numquam aspernatur tempora voluptatum repellat, libero
                nostrum fugiat explicabo ipsa repellendus quod nam eveniet pariatur vitae reiciendis! Animi, sequi, dolorem,
                natus quos officia suscipit quaerat vitae voluptatibus minus praesentium id repudiandae iste cumque
                architecto dolorum. Ipsum a maxime placeat porro reprehenderit expedita odio iusto ab ex? Distinctio ratione
                maxime aliquam ducimus, commodi facere ab earum impedit doloribus repellendus voluptates, perspiciatis esse,
                amet aperiam est natus!
            </h6>
        </div>

        <div class="row container mx-auto my-3">
            <div class="col-lg-5 projects">
                <img class="w-100 mb-3" src="images/main1.jpg" alt="">
                <div class="largeTextDiv">
                    <p class="largetext">ELEGENCE</p>
                    <div>
                        <h3 class="ms-5 largetextp">Let's Work TOGETHER</h3>
                        <h3 class="ms-5 largetextp">Let's Build TOGETHER</h3>
                    </div>

                </div>

            </div>
            <div class="col-lg-7 projects">
                <img class="w-100 " src="images/main21.jpg" alt="">
            </div>
        </div>
        <div class="mt-5 mb-2 p-5" id="aboutUS">

            <!-- About us section  -->

            <div class="col-lg-11 cards col-10 mx-auto">
                <h4>About us</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quas similique ducimus, ipsum omnis
                    distinctio at ullam modi. Iste exercitationem debitis consequatur delectus, veniam impedit assumenda.
                    Cum saepe facere incidunt nisi? Magni atque ex, ducimus quae facere deleniti exercitationem?
                    Voluptatibus!
                </p>
                <h4>How we work</h4>
                <p>
                    Grant Design Group sees interior design as strategy in action, focused on results.
                    We help our clients envision a better space and we help them get there successfully.
                </p>
            </div>
            <div class="row container mx-auto">
                <div class=" cards col-lg-5 mx-auto mb-3">
                    <h5>CONSULTATION</h5>
                    <p>
                        We listen to and understand our clients; this communication helps to facilitate an interior design
                        that often exceeds client expectations
                    </p>
                </div>
                <div class="cards col-lg-5 col-12 mx-auto mb-3">
                    <h5>DESIGN DEVELOPMENT</h5>
                    <p>
                        Each interior design project is refined through a process of fluid development with continuous,
                        valuable input from our clients.
                    </p>
                </div>
                <div class=" cards col-lg-5 col-12 mx-auto mb-3">
                    <h5>PRESENTATION</h5>
                    <p>
                        Our interior design concepts, ideas and materials are revealed to our clients in a way that is
                        clearly understood.
                    </p>
                </div>
                <div class=" cards col-lg-5 col-12 mx-auto mb-3">
                    <h5>ORDER & DELIVERY</h5>
                    <p>
                        Furnishings, Fixtures & Equipment ordered and delivered on time is essential to us. Grant Design
                        Group handles every detail and we oversee the delivery and installation of each item that we order.
                    </p>
                </div>
            </div>
        </div>
    </div>




    <div id="projects">
        <div class="col-lg-11 col-9 p-4 mx-auto">
            <h4>Our projects</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quam voluptatibus fuga distinctio quo
                inventore, quos sint fugiat non deserunt.
            </p>
        </div>
        <div class=" row container mx-auto" id="subProject">
            <div class="col-lg-4 mb-3 projects">
                <img src="images/Carpet.jpg" class="w-100" alt="">
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, nostrum dolorem recusandae expedita
                    nisi iusto quisquam. Odio minima, expedita nam iste eveniet, voluptas corrupti nisi laborum id ad
                    eos nemo.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat nam enim animi quisquam
                    debitis tempora odit harum reprehenderit nobis.
                </p>
            </div>
            <hr>
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="col-lg-8 d-flex align-items-center ">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, nostrum dolorem recusandae expedita
                        nisi iusto quisquam. Odio minima, expedita nam iste eveniet, voluptas corrupti nisi laborum id
                        ad
                        eos nemo.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat nam enim animi quisquam
                        debitis tempora odit harum reprehenderit nobis.
                    </p>
                </div>
                <div class="col-lg-4  projects mb-3">
                    <img loading="lazy" src="images/Library.jpg" class="w-100" alt="">
                </div>
            </div>
            <hr>
            <div class="col-lg-4  mb-3 projects">
                <img loading="lazy" src="images/Dining.jpg" class="w-100" alt="">
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, nostrum dolorem recusandae expedita
                    nisi iusto quisquam. Odio minima, expedita nam iste eveniet, voluptas corrupti nisi laborum id ad
                    eos nemo.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat nam enim animi quisquam
                    debitis tempora odit harum reprehenderit nobis.
                </p>
            </div>
            <hr>
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="col-lg-8 d-flex align-items-center ">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, nostrum dolorem recusandae expedita
                        nisi iusto quisquam. Odio minima, expedita nam iste eveniet, voluptas corrupti nisi laborum id
                        ad
                        eos nemo.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat nam enim animi quisquam
                        debitis tempora odit harum reprehenderit nobis.
                    </p>
                </div>
                <div class="col-lg-4 projects image  mb-3">
                    <img loading="lazy" src="images/Childrensroom.jpg" class="w-100" alt="">
                </div>
            </div>
            <hr>
        </div>
    </div>

    
    <div id="services">
        <div class="col-lg-10 col-9 mx-auto">
            <h4 class="my-3">Services We Provide</h4>
        </div>
        <div class="row container mx-auto ">
            <div class="col-lg-6 row mb-4  mx-auto">
                <div class="col-lg-8 image">
                    <img loading="lazy" src="images/kitchen.jpg" class="w-100 image__img" alt="">
                    <div class="image__overlay">
                      <div class="image__title">
                          Kitchen
                    
                      </div>
                  
                    </div>
                </div>
                <div class="col-lg-4 serviceText ">
                    <h3>Kitchens</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aperiam expedita unde optio
                        veritatis in.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 row mb-4 mx-auto">
                <div class="col-lg-8 image">
                    <img loading="lazy" src="images/residential20111.jpg" class="w-100 image__img" alt="">
                    <div class="image__overlay">
                        <div class="image__title">
                            Residentials
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 serviceText ">
                    <h3>Residentials</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aperiam expedita unde optio
                        veritatis in.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 row mb-4   mx-auto">
                <div class="col-lg-8 image">
                    <img loading="lazy" src="images/commercial.jpg" class="w-100 h-100" alt="">
                    <div class="image__overlay">
                        <div class="image__title">
                            Commercials
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 serviceText ">
                    <h3>Commercials</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aperiam expedita unde optio
                        veritatis in.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 row mb-4   mx-auto">
                <div class="col-lg-8 image">
                    <img loading="lazy" src="images/office.jpg" class="w-100 h-100" alt="">
                    <div class="image__overlay">
                        <div class="image__title">
                            offices
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 serviceText ">
                    <h3>offices</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aperiam expedita unde optio
                        veritatis in.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 row mb-4   mx-auto">
                <div class="col-lg-8 image">
                    <img loading="lazy" src="images/living.jpg" class="w-100 h-100" alt="">
                    <div class="image__overlay">
                        <div class="image__title">
                            LivingRoom
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 serviceText ">
                    <h3>LivingRoom</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aperiam expedita unde optio
                        veritatis in.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 row mb-4   mx-auto">
                <div class="col-lg-8 image">
                    <img loading="lazy" src="images/bedroom.jpg" class="w-100 h-100" alt="">
                    <div class="image__overlay">
                        <div class="image__title">
                            BedRoom
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 serviceText ">
                    <h3>BedRoom</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aperiam expedita unde optio
                        veritatis in.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-10 col-9 mx-auto">
            <h4 class="my-3 text-dark">Testinomials</h4>
            <div class="row d-flex justify-content-evenly">
                <div class=" p-3 col-lg-3 testinomial mb-3">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, enim dignissimos! Ab
                        voluptatibus impedit, nulla blanditiis unde a quam voluptatem?
                    </p>
                    <span> - Lorem ipsum.</span>
                </div>
                <div class=" p-3 col-lg-3 testinomial mb-3">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, enim dignissimos! Ab
                        voluptatibus impedit, nulla blanditiis unde a quam voluptatem?
                    </p>
                    <span> - Lorem ipsum.</span>
                </div>
                <div class=" p-3 col-lg-3 testinomial mb-3">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, enim dignissimos! Ab
                        voluptatibus impedit, nulla blanditiis unde a quam voluptatem?
                    </p>
                    <span> - Lorem ipsum.</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end me-5">
            <div class="col-1">
                <a href="#top"><img class="upArrow" src="images/pngwing.com.png" alt=""></a>
            </div>
        </div>
    </div>



    <div class="fluid">

        <!-- contact section / footer -->
        <div id="contact" class="p-5">

            <div class="col-lg-4">
                <h4 class="text-dark">Contact</h4>
                <h1 class="title">Splash Interiors</h1>
            </div>
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-lg-5 mt-2">
                    <span> Warje naka , Pune 58 , Maharashtra</span> <br>
                    <span> Email: splashInteriors@gmail.com</span>
                    <p> Phone: 8010912273</p>
                </div>
            </div>
            <div class="row mt-3 mx-auto">
                <div class="col-lg-8 mb-3">
                    <div class="col-lg-9 mx-auto">
                        @*<form action="https://formspree.io/f/mnqylkag" method="POST">*@
                        <div class="row">
                            <div class="row col-12 ">
                                <form asp-action="Create" class=" col-lg-8 ">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Message" class="control-label"></label>
                                        <input asp-for="Message" class="form-control" />
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                    </div>
                                    <div class="form-group my-3">
                                        <button id="success" class="btn btn-success largetextp" onclick="notify('success', 'Success Notification', 'Thank you for show interest in your Scheme we will contact you in 2 working days ')">Submit</button>

                                        @* <input type="submit" value="Create" class="btn btn-primary" />*@
                                    </div>
                                </form>
                            </div>
                        </div>

                        <a class="ms-2" href="mailto:shubhamddalvi8@gmail.com" target="_blank">
                            <img style="width: 30px;" src="images/email.png" alt="">
                        </a>
                        <a class="ms-2" href=" http://www.instagram.com/shubhamddalvi" target="_blank">
                            <img style="width: 30px;" src="images/insta.png" alt="">
                        </a>
                        <a class="ms-2" href="https://wa.me/8010912273" target="_blank">
                            <img style="width: 30px;" src="images/whatsapp.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 mx-auto">
                    <iframe class="w-100 "
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242117.7090647206!2d73.69814992360263!3d18.52487061430354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1682493344195!5m2!1sen!2sin"
                            width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
